body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #141e4c;
  --text-primary: #101d42;
  --bg-dark: #101d42;
  --secondary: #fbb44c;
  --button-color: #2bb686;
  --spacing-xs: 0.625rem;
  --spacing-s: 1.25rem;
  --spacing-m: 18.75rem;
  --spacing-l: 25rem;
  --spacing-xl: 32.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1.6fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav nav nav"
    "welcome welcome welcome"
    "trainers trainers trainers"
    "footer footer footer";
}

.navigation {
  grid-area: navigation;
  background-color: var(--primary);
  position: fixed;
  display: flex;
  width: 100%;
  padding-top: var(--spacing-xs); 
  padding-bottom: var(--spacing-s); 
  justify-content: space-around;
  padding-left: 12.5rem; 
}

.navigation .material-symbols-outlined {
  position: absolute;
  box-sizing: border-box;
  font-size: medium;
}

#logo {
  margin-left: var(--spacing-m);
  margin-right: 37.5rem; 
  padding: 0.1875rem; 
  width: 8.125rem; 
  height: 2.8125rem; 
}

ul {
  display: flex;
  align-items: center;
  align-content: flex-end;
  list-style: none;
  justify-content: space-evenly;
  margin-right: var(--spacing-l); 
  font-size: var(--spacing-xs); 
}

a {
  font-size: 0.5625rem; 
  padding: 1rem; 
  text-decoration: none;
  color: white;
}

ul a:hover {
  color: var(--secondary);
}

.about-us {
  float: left;
  overflow: hidden;
}

.about-us:hover {
  background-color: var(--primary);
}

.submenu {
  display: none;
  position: absolute;
  background-color: var(--primary);
  min-width: 10rem; 
  z-index: 1;
}

.submenu a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submenu a:hover {
  color: var(--secondary);
}

.about-us:hover .submenu {
  display: block;
}

.welcome {
  grid-area: welcome;
  height: 22.8125rem; 
  background-color: var(--primary);
  margin-top: -0.625rem; 
}

h1 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  padding-top: 4.0625rem; 
}

.trainers {
  grid-area: trainers;
  display: grid;
  justify-content: center;
  padding-top: 3.75rem; 
  padding-right: 9.375rem; 
}

.trainers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0.125rem; 
  grid-auto-flow: row;
  grid-template-areas: ". . . .";
  width: 43.75rem; 
  height: 18.75rem; 
}

.trainers-container p {
  font-size: var(--spacing-xs); 
}

.spatiu-trainer {
  width: 12.5rem; 
  padding-right: 0.9375rem; 
  padding-left: 0.9375rem; 
}

.imgt img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  border-radius: 50%;
}

.imgt {
  width: 7.5rem; 
  height: 7.5rem; 
  border-radius: 50%;
  overflow: hidden;
  margin-top: -4.375rem; 
}

.descriere-trainer {
  width: 12.5rem; 
  min-height: 15.625rem; 
  padding-left: 0.3125rem; 
  border: 0.0625rem solid #ddd; 
  border-radius: 0.3125rem; 
  margin-top: 2.5rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.25rem; 
}

.trainers h3 {
  width: 100%;
  font-size: 0.75rem; 
  font-weight: 400;
  text-align: center;
  background-color: rgba(20, 30, 76, 0.9);
  border-radius: 0.3125rem; 
  padding: 0.25rem 0;
  margin-bottom: 0.125rem; 
  margin-top: -1.5625rem; 
  z-index: 1;
  color: #fbb44c;
}

.footer {
  grid-area: footer;
  background-color:var(--bg-dark);
  color: #ddd;
  text-align: center;
  font-size: var(--spacing-xs); 
  height: 2.5rem; 
  margin-top: 3.95rem; 
  padding-top: 1.5rem; 
}

